/* Mobile */
@media all and (max-width: 480px) {
    .sliderText h2{
  font-size: 26px;
    }
      .bannerImage1 {
          width: 280px;
      }
  
      .searchBar {
          width: 95%;
      }
  
      .SectionHeading {
          width: 90%;
          display: flex;
          justify-content: center;
      }
  
      .sectionSubHeading {
          width: 90%;
      }
  
      .footerBottom {
          flex-direction: column;
      }
  
      .shopNow {
          width: 100%;
      }
  
      .sliderImg {
          height: 300px;
      }
  
      .sliderText {
          padding-top: 15px;
          padding-left: 40px;
          padding-right: 40px;
      }
  
      .sliderSubTitle {
          width: 100%;
          line-height: 18px;
      }
      .copyrightText{
          text-align: center;
      }
  }
  
  @media all and (min-width: 600px) and (max-width: 992px) {
      .footerBottom {
          flex-direction: column;
          text-align: center;
      }
      .footerLinks{
          justify-content: center;
      }
  }